build/
install/
log/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.vscode/
.vscode-server/
.idea/
.DS_Store
Thumbs.db
.ros/
*.deb
*.tar.xz
*.pcm
*.log
node_modules/
src/depend/serial_ros2
src/wheeltec_robot_slam/orb_slam_2_ros/orb_slam_2_ros

# Large binary files
*.bag
*.stl
*.STL
*.jet
*.so
*.gif
